.gradient-custom {
    /* fallback for old browsers */
    background: #a2d2ff;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(255 255 255), rgb(109 113 153));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(141 188 255), rgb(0 0 0))
}


input.transparent-input {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    color: white;
}

.a.btn.btn-mis-vehiculos {
    background-color: rgb(109, 113, 153);
}

a.btn.btn-mis-favoritos {
    background-color: rgb(141, 188, 255);
}